@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400;1,900&display=swap');

/*Aplico un formato a todos los hipervinculos dentro de una línea */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Modelo Caja */

}

body {
    font-family: 'Poppins';
    font-size: 20px;
    width: vw;
    height: vw;

}



/*Aplico un formato a todo el contenido del header */
header {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-menu-logo {
    user-select: none;
    /*escondo mi item*/
    display: none;
}

.header-logo {
    cursor: pointer;
    /*cambia el puntero por una mano*/
    height: 30px;
    margin-top: 0px;
    margin-left: 30px;
}

.header-nav-lista {
    list-style: none;
    /*borro las viñetas*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Alineo los vinculos en el centro*/
    margin-left: 0px;
}

.header-nav-link {
    padding: 0px 10px;
    background-color: white;
    margin: 0px 2px;

}

.header-nav-link a {
    padding: 0px 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    /*elimino el guion del vinculo*/
}

/*Inicio de una transicion, luego con :hover indico que atributo es el que cambia*/
.header-nav-link {
    transition: all 0.3s ease 0s;
    padding: 5px 10px;
}


/* Cambio el color de la letra y el fondo de la caja */
.header-nav-link a:hover {
    transition-duration: 0.5s;
    color: white;
    background-color: black;

}

.rojoyoutube {
    background-color: #c4302b;
    padding-top: 2rem;
}

.footer {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: black;

}

.footer-logofran {
    cursor: pointer;
    /*cambia el puntero por una mano*/
    height: 40px;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline-block;
    padding: 0px 10px;
    opacity: 100%;
    transition: all 0, 3s ease 0s;
}

.footer-links li :hover {
    opacity: 60%;
}

.footer-links li img {
    height: 30px;
}

.footer-firma {
    padding: 0;
    margin: 0;
    height: 20px;

}

.footer-firma-imagen {
    padding: 0;
}

/* ++++SOBRE MI++++*/


.intro {
    display: flex;
    max-height: 700px;
    margin-top: 5rem;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.intro-parrafo-titulo {
    display: flex;
    flex-direction: column;
    height: 100%;
    order: 2;
    width: 100%;
}

.intro-parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    margin-bottom: 10px;
}

.intro-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    margin-bottom: 3rem;
    font-weight: bold;
}

.intro-img {
    max-height: 100%;
    width: 100%;
}

.intro-logo {
    width: 3rem;
}

.videoPropio-articulo1 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}

.videoPropio-articulo2 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}

.videoPropio-articulo3 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}

/* ++++ILUSTRACIONES++++*/

/*Finalmente, aplico la galería que tenía planificada en Balsamiq desde Bootstrap*/


.carousel-item img {
    box-shadow: 0 0 6px black;
    object-fit: cover;
    height: 45vw;
}
.zapallo img {
    object-fit: contain;
}


/* ++++YOUTUBE++++ */

.youtube-articulo1 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}

.youtube-articulo2 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}

.youtube-articulo3 iframe:hover {
    transition-duration: 0.2s;
    transform: scale(110%);
}



/* ++++INSTAGRAM++++*/


.instagram-galeria iframe {
    object-fit: contain;
    box-shadow: 0 0 6px black;
    transition: transform 0.9s;
}

.instagram-galeria iframe:hover {
    transform: rotate(360deg) scale(1.5);
}

.instagram-intro {
    display: flex;
    margin-left: 1rem;
}
*/
.instagram-intro-nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    order: 2;
    align-self: center;
}

.instagram-intro-logo {
    height: 40px;
    order: -1;
    align-self: center;
    margin-right: 10px;

} 

/* COMIENZO A TRABAJAR RESPONSIVE */

.header-nav-link-close {
    /*Escondo el boton de cierre de menu celular*/
    display: none
}

@media screen and (max-width: 1024px) {

    .intro-img {
        max-height: 500px;
        width: 100%;
        padding: 1rem;
    }

    .intro-titulo {
        margin-bottom: 0;
    }

    .videosPropios iframe {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .header-nav-link a {
        font-size: 15px;
    }

    .header-nav-link {
        padding: 3px 1px;
    }

    .header-menu {
        display: none;
    }



    /* RESPONSIVE "Sobre Mi" 768*/

    .intro {
        padding: 0;
    }

    .intro-img {
        max-width: 20rem;
        padding: 1rem;
    }

    .intro-logo {
        width: 2rem;
    }
    
    .videoPropio-texto2 {
        order: 1!important;
    }

    /*RESPONSIVE "Ilustraciones" 768*/

    .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .galeria img:hover {
        transform: rotate(5deg) scale(1.2);
    }

    /*RESPONSIVE "Youtube" 768*/

    .youtube {
        order: 1!important;
    }

    .youtube-texto2 {
        order: 1!important;
    }


    /*RESPONSIVE "Instagram" 768*/

    .instagram-galeria iframe:hover {
        transform: rotate(360deg) scale(1.2);
    }
}

/* Es importante el orden de las medias querys para que se pisen */

@media screen and (max-width: 480px) {

    header {
        flex-direction: row;
    }

    .header-logo {
        margin-left: 30px;
    }

    .header-nav-lista {
        display: none;
        padding-top: 50%;
        box-shadow: 0 0 6px black;

    }

    .header-menu {
        display: block;
        text-decoration: none;
        color: red;
        font-size: 35px;
    }

    .header-nav-link {
        display: flex;
        justify-content: center;
        background-color: transparent;
        margin-top: 20px;
    }

    .header-nav-link a {
        color: black;
    }

    .header-menu-logo {
        align-self: flex-end;
        display: block;
        width: 40px;
    }

    #menu {
        display: block;
        background-color: white;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 2s;
    }

    #menu:target {
        right: 0%;
    }

    .header-img-close {
        width: 30px;
    }

    .footer {
        flex-direction: column;
        padding: 0;
        padding-bottom: 5px;
    }

    /* RESPONSIVE "Sobre Mi" 480*/

    .intro {
        padding: 0;
        flex-direction: column;
    }

    .intro-parrafo {
        font-size: 2.5vw;
        padding: 1rem;
    }

    .intro-parrafo-titulo {
        align-items: center;
    }

    .intro-logo {
        width: 1.5rem;
        align-self: flex-start;
        margin-left: 1rem;
    }

    /*RESPONSIVE "Ilustraciones" 480*/

    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        margin: 2.6rem;
    }

    .galeria img:hover {
        transform: scale(1.1);
    }

    /*RESPONSIVE "Youtube" 480*/


    .youtube-descripcion {
        font-size: 0.8rem;
    }
    .youtube-articulo1 iframe:hover {
        transform: none;
    }
    .youtube-articulo2 iframe:hover {
        transform: none;
    }
    .youtube-articulo3 iframe:hover {
        transform: none;
    } */

    /*RESPONSIVE "Instagram" 480*/

    .instagram-galeria {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .instagram-galeria iframe:hover {
        transform: rotate(360deg) scale(1.1);
    }
}