/* ++++ILUSTRACIONES++++*/

/*Finalmente, aplico la galería que tenía planificada en Balsamiq desde Bootstrap*/

.carousel-item img {
    box-shadow: 0 0 6px black;
    object-fit: cover;
    height: 45vw;
}
.zapallo img {
    object-fit: contain;
}

.carousel {
    margin-top: 6rem;
    margin-bottom: 7rem;
}

.carousel-descripcion {
text-align: center;
font-family: $fuente-principal;
font-size: 3vw;
margin-bottom: 10px;
padding: 1rem;
}