/* ++++INSTAGRAM++++*/

.instagram {
    margin-top: 2rem;

    &-intro {
        display: flex;
        margin-left: 3rem;
        margin-bottom: 3rem;

        &-nombre {
            font-family: $fuente-principal;
            font-size: map-get($estilo-titulo, tfuente);
            font-weight: map-get($estilo-titulo, pfuente);
            order: 2;
            align-self: map-get($estilo-titulo, centro);
        }

        &-logo {
            height: 40px;
            order: -1;
            align-self: center;
            margin-right: 10px;
        }
    }

    &-galeria div {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &-galeria iframe {
        object-fit: cover;
        box-shadow: 0 0 6px black;
        transition: transform 0.9s;
    
        &:hover {
            transform: scale(1.15);
        }
    }

    & section div {
        text-align: center;
        font-weight: bold;
    }
}
