/*Defino una variable para la fuente principal de la pagina*/
$fuente-principal: 'Poppins', sans-serif;


/*SASS II*/
/*Defino un MAPA para estandarizar los titulos*/

$estilo-titulo: (
    centro: center,
    pfuente: bold,
    tfuente: 2rem,
    color: black,
);

/*MIXIN*/

@mixin flexgenerator($direction, $eje-principal, $eje-secundario) {
    display: flex;
    flex-direction: $direction;
    justify-content: $eje-principal;
    align-items: $eje-secundario;    
}
